<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <!-- START Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- END Meta -->

    <title> Coxino.com</title>
    <% include site/include/head.ejs %>
</head>
<body>

<!-- START Site Header -->
<header >
    <% include site/include/header.ejs %>
</header>
<!-- END Site Header -->




<div class="content">

    <% include site/index.ejs %>
</div>


<!-- START Site Footer -->
<footer id="site-footer">

    <% include site/include/footer.ejs %>
</footer>
<!-- END Site Footer -->




</body>
</html>
