/****************header******************/

#logo {
    margin-left: 76px;
    height: 53px
}

#Menu-RightPart{  margin-right: 47px;  }
#Menu-RightPart a{  font-family:  'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, sans-serif; }
#Menu-RightPart .covoiturage:hover {  background-color: #FFA500;  }
#Menu-RightPart .location:hover{  background-color: #87C543;  }
#Menu-RightPart .achat:hover{  background-color: #00CDFF;  }
#Menu-RightPart .SOS:hover{  background-color: #EE5455;  }

#btnCon{
    padding: 2px;
    margin-top: 10px;
    margin-left: 10px;
    color:white;
    background-color: purple;

}
#btnCon:hover{  color:black;  }

#btnpub{
    padding: 2px;
    margin-top: 10px;
    margin-left: 10px;
    color:white;
    background-color: teal;

}
#btnpub:hover{  color:black;  }



/*************  MyBox  *****************/
#covpage{
    margin-top: 52px;
}
#txt{
    border : #FF9100 3px solid;
    width: 400px;
    height: 151px;
    float: right;
    margin-right: 27px;
    margin-top: 28px;

}

.boxsContainer{
    margin-top: 50px;
    border : #FF9100 1px solid;
    box-shadow: 10px 10px 20px #888888;  border-radius: 10px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    height: 450px;
}

.myBox{
    position: relative;
    padding: 10px;border-bottom: 1px solid #ccc;
     height: 180px;


}

.myBox img{
    float:left;
}


.myBox .leftPart{
    border-right:1px solid #ccc;
    width : 200px;position: relative;

}
.myBox .leftPart .ico{
    position: absolute;right:5px ; bottom: 0px;
}
.myBox .MiddlePart{
     position: absolute;
    top: 10px;
    left: 210px; /* =.myBox .leftPart width +.myBox padding*/
    width: 350px;
    padding-left:5px;
    color: #787878;
}
.MiddlePart .vehicule  {
    font-weight: bold;

}
.MiddlePart .jour{
    margin-bottom: 3px;
    font-weight: bold;
    color: #333;
}

.MiddlePart .departarivee{
  color:#666;
    margin-bottom: 8px;
}

.myBox .RightPart{
    position: absolute;
    top: 10px;
    left: 607px; /* =.myBox .leftPart width +.myBox padding + .MiddlePart .width + .MiddlePart padding-left*/
}
.myBox .RightPart .prixETplace{
    color: #FFA500;
    font-family: Arial Black;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    background: #eaeaea;
    padding: 0px 6px 1px 9px;
    display: inline;
    position: absolute;

    right: 0;
    border: 5px solid #fff;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.myBox .RightPart .prixETplace .place{
    font-size: 11px;
    color: #58B20D;
}

.prixETplace .prix{
    text-align: center;
}
.RightPart .bottom{
     position: relative;
    top: 87px;
}
.RightPart .place{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}
/*.RightPart .Acceptation{
    font-size: 11px;
}*/
.leftPart .name{
 font-size: 15px; font-weight: bold;
}

.leftPart .age,.profession,.note,.friends{
    color: #787878;
}

/***************** End MyBox **********/


/********************************************/





html, body, div.map_container {
    height: 100%;
    width: 100%;
    font-family: comic Sans MS, verdana, sans-serif;
    background: #fafafa;

}

div.map_container {

    float: left;
    height:550px;
    width:500px;
    margin-right: 200px;
    border :  #FF9100 3px solid;
    box-shadow: 10px 10px 20px #888888; border-radius: 10px; overflow: hidden;
    /*rigin/master*/
    margin-top: 75px;
    /* border : #FF9100 1px solid;*/
    /*  box-shadow: 10px 10px 20px #888888;  border-radius: 10px;*/

}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.controls {
    float: right;
    width: 30%;
}

.markerlabel {
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #333;
    padding: 2px;
    background: #fff;
    color: #333;
}

.title {
    color: orange;
    margin-left: 34%;
    font-size: x-large;
}
#demof {
    height: 35px;
    border-radius: 20px;
    width:120px;

}
#depart {
    height: 35px;
    width: 99px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 3px;
    margin-top: -2px;
}



#arrivee {
    border-radius: 20px;

    width: 150px;
}
#date {
    height: 35px;
    width: 155px;
    border-radius: 20px;
    margin-left: 3px;
    margin-top: -2px;
}
#heuredate {
    border-radius: 20px;

    width: 150px;

}
#reserver {
    border-radius: 20px;
    height: 35px;
    width: 173px;
    margin-left: 6px;
}
#prix {
    border-radius: 20px;
    height: 35px;
    width: 60px;
    margin-right: 54px;
}
#recherche {
    border-radius: 20px;
    float: right;
}
#imagecov {

    width: 80px;
    height:80px;
    margin-left: 21px;
    margin-top: -9px;
}

#zonecherche {
    background-color: orange;
    border-radius: 20px;
    padding: 3px;

}
#zone {
    background-color: orange;
    border-radius: 20px;
    padding: 3px;
    margin: 20px;
}

#zoneicon {
    background-color: orange;
    border-radius: 20px;
    margin-left: 250px;
   padding: 5px;
    margin-right: 20px;
    color: white;

}
#zonepublic {
    background-color: orange;
    border-radius: 20px;
    width: 726px;
    height: 47px;
    margin-left: 15px;
    margin-top: 11px;


}

#txtzone {
    background-color: orange;
    border-radius: 20px;
    width: 120px;
    margin-left: 60px;
    margin-top: 61px;
    color: white;
    padding: 5px;
    text-align: center;

}
#desc {
   color:white;
    margin-top: 7px;


}
#resrech {
    margin-left: 10%;
    margin-top: 10%;
    width: 900px;
}
#input {
    border-radius: 20px;


}

.liste{
    border-bottom: #555 1px solid;
}
.voiture{
    color: white;
    margin-top: 6px;
    font-style: oblique;
    font-size: large;
}
.icons{
    margin-top: -26px;
    margin-left: 123px;
    color: white;
}
.infovoit{
    color: white;
    margin-top: 6px;
    font-size: large;
}
#bar{
 font-weight: bolder;
    font-size: 18px;
}

.info{
    border-right: #555 1px solid;

}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 400px;
        height: 20px;
        padding-top: 1%;


        border-radius: 20px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
#bottom-footer {
    background: #090909;
    padding: 0px 0;
}


.table{
    align-content: center;
}

.custom-marker {
    font-size: 2em;
    width: 50%;
height: 50%;
    text-align: center;
}

.custom-marker:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

.custom-marker:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}

#btnvalider{
    width: 112px;
    height: 38px;
    float: right;
    border: 5px solid #666666;
    margin-top:15px;
    margin-right:25px;
    /* border: 5px solid #ccc; */
    font-weight: bold;
    border-radius: 12px;

}