<!-- START Widget Area -->
<div class="widget-area grid-container">

    <!-- START Widget Column 01 -->
    <div class="widget-column widget-column-01 grid-33 tablet-grid-33 mobile-grid-100">

        <!-- Contact Details Widget -->
        <aside class="widget widget-coxino-contact-details">
            <h3 class="widget-title">contactez nous</h3>
            <div class="contact-details">
                <p>Contactez-nous. Vous avez besoin d'aide? Nous avons peut-être la réponse parfaite pour vous.</p>
                <div class="contact-phone">
                    <i class="fa fa-phone-square"></i>
                    <a class="phone-number-link" href="tel:+00678987658">+216 21 585 895</a>
                </div>
                <div class="contact-email">
                    <i class="fa fa-envelope-square"></i>
                    <a class="email-link" href="mailto:bookings@coxinotheme.net">support@coxino.com</a>
                </div>
                <div class="contact-address">
                    <i class="fa fa-caret-square-o-down"></i>
                    <address>
                        6, Rue Habib Bourguiba.<br />
                        Tunis
                    </address>
                </div>
            </div>
        </aside>

    </div>
    <!-- END Widget Column 01 -->

    <!-- START Widget Column 02 -->
    <div class="widget-column widget-column-02 grid-33 tablet-grid-33 mobile-grid-100">

        <!-- Latest Recipes Widget -->
        <aside class="widget widget-coxino-latest-recipes">
            <h3 class="widget-title">Securité Garantie</h3>
            <ul class="latest-recipes">
                <li class="recipe">
                    <a href="template-recipe-single.html"><img class="recipe-thumbnail" src="images/demo/widget-recipe-thumbnails/thumbnail-01.jpg" alt="Recipe Thumbnail Image" /></a>
                    <h6 class="recipe-title"><a href="template-recipe-single.html">Confidentialité des informations personnelles</a></h6>
                    <p class="recipe-description">nom , prénom , téléphone</p>
                </li>
                <li class="recipe">
                    <a href="template-recipe-single.html"><img class="recipe-thumbnail" src="images/demo/widget-recipe-thumbnails/thumbnail-02.jpg" alt="Recipe Thumbnail Image" /></a>
                    <h6 class="recipe-title"><a href="template-recipe-single.html">Protégez vos mots de passe</a></h6>
                    <p class="recipe-description">Créer des mots de passe forts d'une longueur et d'une complexité.</p>
                </li>
                <li class="recipe">
                    <a href="template-recipe-single.html"><img class="recipe-thumbnail" src="images/demo/widget-recipe-thumbnails/thumbnail-03.jpg" alt="Recipe Thumbnail Image" /></a>
                    <h6 class="recipe-title"><a href="template-recipe-single.html">Vérifier la crédibilité des profils inscrit á COXINO</a></h6>
                    <p class="recipe-description">une inscription facile et contrôler.</p>
                </li>
            </ul>
        </aside>

    </div>
    <!-- END Widget Column 02 -->

    <!-- START Widget Column 03 -->
    <div class="widget-column widget-column-03 grid-33 tablet-grid-33 mobile-grid-100">

        <!-- Opening Times Widget -->
        <aside class="widget widget-coxino-opening-times">
            <h3 class="widget-title">plan du site</h3>
            <ul class="opening-times">
                <li>facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
        </aside>

    </div>
    <!-- END Widget Column 03 -->

</div>
<!-- END Widget Area -->

<!-- START Bottom Area -->
<div id="bottom-footer">
    <div class="grid-container">

        <!-- Footer Logo -->
        <div class="footer-logo grid-50 tablet-grid-100 mobile-grid-100">
            <a href="#"><img class="footer-logo-image" src="images/assets/footer-logo.png" alt="Footer Logo" /></a>
        </div>

        <!-- Footer Text -->
        <div class="footer-text grid-50 tablet-grid-100 mobile-grid-100">
            <p>Designed by <a href="http://themeforest.net/user/SubatomicThemes" target="_blank">Coxino</a>  All Rights Reserved.</p>
        </div>

    </div>
</div>
<!-- END Bottom Area -->


<!-- START Javascripts -->



<script type="text/javascript" src="javascripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>

<script type="text/javascript" src="javascripts/jquery-main.js"></script>
<script type="text/javascript" src="javascripts/jquery-custom.js"></script>
<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/angular.min.js" ></script>
<script src="javascripts/angular-route.min.js" ></script>
<script src="javascripts/bootstrap.min.js" ></script>
<script src="javascripts/Ctrl/app.js"></script>
<!--<script src="javascripts/Ctrl/Myroute.js" ></script>-->
<script src="javascripts/request.js" ></script>


<script src="javascripts/Ctrl/Ctrllogin.js" ></script>
<!-- END Javascripts -->
