
<!-- START Site Preloader -->
<div id="coxino-preloader-container">
    <div class="coxino-preloader">
		<span class="bubble-01">
			<img src="images/assets/coxi.png" />
		</span>
		<span class="bubble-02">
			<img src="images/assets/coxi.png" />
		</span>
		<span class="bubble-03">
			<img src="images/assets/coxi.png" />
		</span>
    </div>
</div>
<!-- END Site Preloader -->



<!-- START Main Content -->
<main class="site-content" role="main">



    <!-- START Section - Testimonials -->
    <section id="coxino-testimonials" class="section-container parallax">

        <div class="grid-container">

            <header class="section-heading" style="margin-top:40px;">
                <h2 class="section-heading-title" style="margin-top: 130px;">Services Coxino</h2>
                <div class="section-heading-subtitle-container tilt-left">
                    <h4 class="section-heading-subtitle">services Coxino</h4>
                </div>

                <br><br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="input-group" id="adv-search">
                                <input type="text" class="form-control" placeholder="Mot clé" style="border-top-left-radius: 8px;border-bottom-left-radius: 8px; height: 45px;"/>
                                <div class="input-group-btn">
                                    <div class="btn-group" role="group">
                                        <div class="dropdown dropdown-lg">

                                            <div class="form-group">
                                                <select class="form-control" style="height: 45px;">
                                                    <option value="0" selected>All Gategorie</option>
                                                    <option value="1">Featured</option>
                                                    <option value="2">Most popular</option>
                                                    <option value="3">Top rated</option>
                                                    <option value="4">Most commented</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Rechercher" style="border-top-right-radius: 8px;border-bottom-right-radius: 8px; height: 45px; width: 100px;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>

            <div class="grid-container" >




                <!-- START Staff Member -->
                <a href="#">

                    <div class="grid-20 tablet-prefix-10 tablet-grid-60 tablet-suffix-20 mobile-grid-100"
                         style=" margin-left : 20px;
                           padding: 0px;
                         border-radius: 20px; overflow: hidden">
                        <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-01.png"
                             class="coxino-staff-member-thumbnail" alt="Staff Member Thumbnail">


                        <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250"  >
                            <div class="coxino-staff-member">
                                <header>


                                    <h3 class="coxino-staff-member-title">covoiturage</h3>
                                    <h4 class="coxino-staff-member-role" style="color: #FD9A01">BOUGER, ÇA CRÉE DES LIENS</h4>
                                </header>
                                <div classe="paragraphe" style="background: #FF9A00; text-align: left; padding: 10px;   border-radius: 10px; height: 220px;" >
                                    <p style="color:white ;text-align:justify;">&quot;Le covoiturage est l'utilisation conjointe
                                        et organisée d'un véhicule,
                                        par un conducteur non professionnel et un ou plusieurs tiers
                                        passagers, dans le but d’effectuer un trajet commun.&quot;</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
                <!-- END Staff Member -->

                <!-- START Staff Member -->
                <a href="#">
                    <div class="grid-20 tablet-prefix-10 tablet-grid-60 tablet-suffix-20 mobile-grid-100"
                         style=" margin-left : 50px; padding: 0px; border-radius: 20px; overflow: hidden;">

                    <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-02.png"
                         class="coxino-staff-member-thumbnail" alt="Staff Member Thumbnail">

                    <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
                        <div class="coxino-staff-member">
                            <header>


                                <h3 class="coxino-staff-member-title">CO-LOCATION</h3>
                                <h4 class="coxino-staff-member-role" style="color: #7BBD3F">MIEUX PARTAGER, MIEUX VIVRE</h4><!--MIEUX PARTAGER, MIEUX VIVRE-->
                            </header>
                            <div classe="paragraphe" style="background: #7ABC3F; text-align: left; padding: 10px;border-radius: 10px; height: 220px;">
                            <p style="color:white ;text-align:justify;">&quot; la location connaît depuis quelques dizaine d´années un gros succès, une autre forme de partage d'un logement existe :
                                la colocation désigne le fait de réaliser une location en commun&quot;</p>
                        </div>

                    </div>
            </div>
        </div>
        </a>
        <!-- END Staff Member -->

        <!-- START Staff Member -->
        <a href="#">
            <div class="grid-20 tablet-prefix-10 tablet-grid-60 tablet-suffix-20 mobile-grid-100"
                 style=" margin-left : 50px; padding: 0px; border-radius: 20px; overflow: hidden">

                <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-03.PNG"
                     class="coxino-staff-member-thumbnail" alt="Staff Member Thumbnail">

                <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
                    <div class="coxino-staff-member">
                        <header>


                            <h3 class="coxino-staff-member-title">ACHAT&VENTE</h3>
                            <h4 class="coxino-staff-member-role" style="color: #32CBFE">TROUVEZ LES BONNES AFFAIRES</h4>
                        </header>
                        <div  style="background: #00CDFF; text-align: left; padding: 10px;border-radius: 10px; height: 220px;">
                            <p   style="color:white ;text-align:justify;">&quot; vente et achat en ligne,  l'échange de biens, de services et d'informations
                                en tout sécurité ,s’informer  sur les produits, prise de commande et fidélisation.  &quot;</p>
                        </div>

                    </div>
                </div>
            </div>
        </a>
        <!-- END Staff Member -->

        <!-- START Staff Member -->
        <a href="#">
            <div class="grid-20 tablet-prefix-10 tablet-grid-60 tablet-suffix-20 mobile-grid-100"
                 style=" margin-left : 50px;  padding: 0px; border-radius: 20px; overflow: hidden">

                <img src="images/demo/testimonial-thumbnails/testimonial-thumbnail-04.png"
                     class="coxino-staff-member-thumbnail" alt="Staff Member Thumbnail">

                <div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
                    <div class="coxino-staff-member">
                        <header>


                            <h3 class="coxino-staff-member-title">SOS SERVICES</h3>
                            <h4 class="coxino-staff-member-role" style="color: #E42324">LE BONHEUR ENTRE VOS MAINS</h4>
                        </header>
                        <div classe="paragraphe" style="background: #EE5455; text-align: left; padding: 10px;border-radius: 10px; height: 220px;">
                            <p style="color:white ;text-align:justify;">&quot; Trouver tout les services á COXINO .
                                Vous trouverez ici les gammes les plus populaires de professions et
                                services qui sont offerts dans votre régionn..........    ...........................................&quot;</p>
                        </div>

                    </div>
                </div>
            </div>
        </a>
        <!-- END Staff Member -->

        </div>

        </div><!--grid-container-->





    </section>
    <!-- END Section - Testimonials -->


<!-- div carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
o
            <div class="item active">
                <img src="/images/demo/slides/slide-image-01.jpg" alt="Chania" >
                <div class="carousel-caption" id="carouselCouv">

                    <h1>Roulez, nous faisons le reste</h1>
                </div>
            </div>

            <div class="item">
                <img src="/images/demo/slides/slide-image-02.jpg" alt="Chania" >
                <div class="carousel-caption" id="carouselLoc">

                    <h1>Le meilleur choix pour gagner du temps</h1>
                </div>
            </div>

            <div class="item">
                <img src="/images/demo/slides/slide-image-03.jpg" alt="Flower" >
                <div class="carousel-caption" id="carouselVente">

                    <h1>Bien satisfait , c´est le début du bonheur</h1>
                </div>
            </div>

            <div class="item">
                <img src="/images/demo/slides/slide-image-04.jpg" alt="Flower" >
                <div class="carousel-caption" id="carouselSos">

                    <h1>le service rapide est notre affaire.</h1>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- fin div carousel -->



    <!-- START Section - Menu -->
    <section id="coxino-menu" class="section-container">

        <!-- START Section Heading -->
        <div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
            <header class="section-heading">
                <h2 class="section-heading-title">Dernieres annonces</h2>
                <div class="section-heading-subtitle-container tilt-left">
                    <h4 class="section-heading-subtitle">services Coxino</h4>
                    <br><br><br>
                </div>

                           </header>
        </div>


        <!-- END Section Heading -->

        <div class="grid-container">

            <div class="grid-45 suffix-5 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">

                <div class="coxino-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="coxino-menu-title"  style="background-color : #FF9100 ">Covoiturage</h2>

                    <ol class="coxino-menu-list">

                        <!-- START Menu Item -->

                        <!-- END Menu Item -->
                        <div class="myBox" style="border-color : #FF9100">
                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-03.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Bonsoir! J'ai des places de Tunis (Technopole Ghazela- ESPRIT) Vers Sousse(Sahloul)
										Départ 12.30hr...">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-01.jpg" class="coxino-menu-item-thumbnail" alt="BBQ Chicken Wings Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">Haytham chaouachi</h3>
                                        <h4 class="coxino-menu-item-price">8dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>Bonsoir! J'ai des places de Tunis (Technopole Ghazela- ESPRIT) Vers Sousse(Sahloul)
                                            Départ 12.30hr...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- END Menu Item -->

                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-03.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-03.jpg" class="coxino-menu-item-thumbnail" alt="BBQ Chicken Wings Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">amel ghabi</h3>
                                        <h4 class="coxino-menu-item-price">5dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>bonsoir, 3 places disponibles demain Samedi de
                                            nabeul (centre) vers Tunis (centre ville ou menzah ou manar), départ vers 13h.</p>
                                    </div>
                                </div>
                            </li>
                            <!-- END Menu Item -->


                        </div>	</ol>

                </div>

                <div class="coxino-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="coxino-menu-title " style="background-color :#33ccff ">CHAT & VENTE</h2>

                    <ol class="coxino-menu-list " >

                        <div class="myBox" style="border-color:#33ccff">
                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-07.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-07.jpg" class="coxino-menu-item-thumbnail" alt="Chocolate Fudgecake Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">Marwen Amri</h3>
                                        <h4 class="coxino-menu-item-price">45dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>Chargeur pour téléphone portable .Grande capacité, pratique et facile à utiliser ...
                                            . <span class="menu-info"><i class="fa fa-exclamation-circle"></i>Important note here</span></p>
                                    </div>
                                </div>
                            </li>
                            <!-- END Menu Item -->

                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-08.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-08.jpg" class="coxino-menu-item-thumbnail" alt="Cappucino Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">tony takla</h3>
                                        <h4 class="coxino-menu-item-price">850dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>bonjour cherche imac ou macbook ou autre mac apple avec OS yosemite ou mavericks installé dessus ..</p>
                                    </div>
                                </div>
                        </div>
                        </li>
                        <!-- END Menu Item -->

                    </ol>

                </div>

            </div>

            <div class="prefix-5 grid-45 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">

                <div class="coxino-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="coxino-menu-title"  style="background-color : #99cc00 ">Co-LOCATION</h2>

                    <ol class="coxino-menu-list">
                        <div class="myBox" style="border-color : #99cc00">
                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-04.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-04.jpg" class="coxino-menu-item-thumbnail" alt="Meat Feast Pizza Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">mariem belazraga</h3>
                                        <h4 class="coxino-menu-item-price">130dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>Une chambre individuelle disponible dans une s+2 a sidibousaid ( a deux pas mel ENAU ) Tunis.</p>
                                    </div>
                                </div>
                            </li>
                            <!-- END Menu Item -->

                            <!-- START Menu Item -->
                            <div class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-05.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-05.jpg" class="coxino-menu-item-thumbnail" alt="Chicken Tikka Masala Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">Houcem Hamad</h3>
                                        <h4 class="coxino-menu-item-price">320 dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>un studio meublé à louer à sahloul près du café mosaïque pour un étudiant constitué de :
                                            une chambre à coucher ...</p>
                                    </div>
                                </div>

                                </li>
                                <!-- END Menu Item -->
                            </div>

                            <!-- START Menu Item -->

                            <!-- END Menu Item -->

                    </ol>

                </div>

                <div class="coxino-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <h2 class="coxino-menu-title" style="background-color: #ff3300;">SOS Services</h2>

                    <ol class="coxino-menu-list">
                        <div class="myBox"  style="border-color: #ff3300">
                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-09.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-09.jpg" class="coxino-menu-item-thumbnail" alt="Premium Beer Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">Zied Ghaoui </h3>
                                        <h4 class="coxino-menu-item-price">0dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>Bsr, où on peut réparer un four micro onde kenwood
                                            qui ne chauffe plus??? Merci pour votre aide...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- END Menu Item -->

                            <!-- START Menu Item -->
                            <li class="coxino-menu-item">
                                <a href="images/demo/menu-main/menu-item-large-10.jpg"
                                   class="lightbox coxino-thumbnail-link"
                                   title="Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis.">
                                    <img src="images/demo/menu-thumbnails/menu-item-thumbnail-10.jpg" class="coxino-menu-item-thumbnail" alt="Sparkling White Wine Thumbnail" />
                                    <div class="coxino-thumbnail-overlay">
                                        <i class="fa fa-search-plus"></i>
                                    </div>
                                </a>
                                <div class="coxino-menu-item-container">
                                    <a href="template-recipe-single.html" class="coxino-menu-item-header">
                                        <h3 class="coxino-menu-item-title">Houssain BENAMOR </h3>
                                        <h4 class="coxino-menu-item-price"> 0dt</h4>
                                    </a>
                                    <div class="coxino-menu-item-excerpt">
                                        <p>déménagement sur toute la tunisie avec prix raisonnable plus montage et démontage des meubles
                                            demander un devis gratuit...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- END Menu Item -->
                        </div>

                    </ol>

                </div>

            </div>

        </div>

    </section>
    <!-- END Section - Menu -->

    <!-- START Section - Slogan 01 -->
    <section id="coxino-slogan-01" class="section-container parallax">
        <div class="grid-container">

            <div class="grid-100 tablet-grid-100 mobile-grid-100 no-margin">
                <div class="wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                    <div style="width: 600px">
                        <h2 class="coxino-slogan-text" style="color: black" >
                            Rendre service aux autres <br />
                            c’est se rendre <em style="color: red">service</em> à soi-même.</h2>


                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END Section - Slogan 01 -->


    <!-- START Section - Slogan 02 -->
    <!--<a href="#" class="clickable-slogan">
        <section id="coxino-slogan-02" class="section-container parallax">
            <div class="grid-container">

                <div class="grid-100 tablet-grid-100 mobile-grid-100 no-margin">
                    <div class="wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
                        <div class="coxino-slogan">
                            <h2 class="coxino-slogan-text">Looky Here! This Slogan is <em>Clickable</em><br />
                            <span>Great for a <em>Call-to-Action</em>!</span></h2>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </a>-->
    <!-- END Section - Slogan 02 -->

    <!-- START Section - Gallery -->



    <!-- END Section - Gallery -->



    <!-- START Section - Reservations -->
    <section id="coxino-reservations" class="section-container">

        <!-- START Section Heading -->
        <div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
            <header class="section-heading">
                <h2 class="section-heading-title">Contactez-nous</h2>
                <div class="section-heading-subtitle-container tilt-left">
                    <h4 class="section-heading-subtitle">Commentaire pour COXINO</h4>
                </div>
            </header>
        </div>
        <!-- END Section Heading -->

        <div class="grid-container">
            <div class="prefix-10 grid-80 suffix-10 tablet-grid-100 mobile-grid-100">

                <!-- START Reservation Form -->
                <form id="coxino-reservation-form" action="http://www.cssvillain.com/hungry/php/process-reservation.php" method="post">
                    <fieldset>

                        <!--<legend class="form-title">Booking Form<span>Please fill out all required<em>*</em> fields. Thanks!</span></legend>-->

                        <div class="grid-50 tablet-grid-50 mobile-grid-100">

                            <!-- Name Field -->
                            <p>
                                <label for="res_name">Nom <span>*</span></label>
                                <input type="text" name="res_name" id="res_name" value="" required>
                            </p>

                            <!-- Email Field -->
                            <p>
                                <label for="res_email">Votre adresse e-mail<span>*</span></label>
                                <input type="email" name="res_email" id="res_email" value="" required>
                            </p>

                            <!-- Phone Number Field -->

                            <!-- Amount in Party Field -->

                        </div>

                        <div class="grid-50 tablet-grid-50 mobile-grid-100">

                            <!-- Date Field -->


                            <!-- Time Field -->


                            <!-- Message Field -->
                            <label class="labeltxt" for="res_email">Méssage</label>
                            <textarea name="res_message" id="res_message" cols="8" rows="8"></textarea>

                        </div>


                        <div class="grid-100 tablet-grid-100 mobile-grid-100">

                            <!-- Form Submit -->
                            <input type="submit" name="res-submit" id="res-submit" value="Envoyer" />
                        </div>

                    </fieldset>
                </form>
                <!-- END Reservation Form -->

                <!-- Form outcome contents. Generated through Ajax -->
                <div id="coxino-reservation-form-outcome"></div>

            </div>
        </div>

    </section>
    <!-- END Section - Reservations -->

</main>
<!-- END Main Content -->



<!-- "Back-to-Top" Button -->
<div id="btt">
    <i class="fa fa-angle-up"></i>
</div>

